[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
bottle = "*"
requests = "*"
python-decouple = "*"
dj-database-url = "*"
gunicorn = "*"
psycopg2-binary = "*"
django-extensions = "*"

[dev-packages]

[requires]
python_version = "3.9"
