<div class="modal fade" id="confirmDeleteModal" tabindex="-1" caller-id="" role="dialog"
     aria-labelledby="confirmDeleteModalLabel"
     aria-hidden="true"> <!-- Modal confirma eliminação das contas -->
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header"><strong>Confirmar Eliminação</strong></div>
            <div class="modal-body confirm-delete">
                Esta ação é permanente
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger danger" data-dismiss="modal" id="confirmDeleteButtonModal">
                    Deletar
                </button>
            </div>
        </div>
    </div>
</div>