{% extends 'base/base.html' %}
{% load filter_extras %}


{% block content %}
{% include 'base/header.html' %}
<div class="col-md-8 offset-md-2 mt-5 mb-3">
    {% include 'base/messages.html' %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div><h4>{{ conta }} </h4></div>
                <a href="{{ conta.url }}" target="_blank"><p class="text-muted mb-0">{{ conta.url }}</p></a>
            </div>
            <div class="col-sm-4">
                <div class="d-flex justify-content-end">
                    <p class="text-muted mb-0">
                        <a href="{% url 'manager:update_data_account' conta.slug %}">
                            {% if total_records > 0 %}
                            <button type="button" class="btn btn-secondary btn-sm">
                                <i class="bi bi-arrow-clockwise"></i>
                            </button>
                            {% else %}
                            <button type="button" class="btn btn-success btn-sm">Carregar Informações</button>
                            {% endif %}
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr>

    <ul class="nav nav-tabs" id="myTab" role="tablist"> <!-- tab -->
        <li class="nav-item">
            <a class="nav-link active show" id="players-tab" data-toggle="tab" href="#players"
               role="tab" aria-controls="players" aria-selected="true">Players</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="playlists-tab" data-toggle="tab" href="#playlists"
               role="tab" aria-controls="playlists" aria-selected="false">Playlists</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="categories-tab" data-toggle="tab" href="#categories"
               role="tab" aria-controls="categories" aria-selected="false">Categorias</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="medias-tab" data-toggle="tab" href="#medias"
               role="tab" aria-controls="medias" aria-selected="false">Conteúdos</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" id="playlogs-tab" data-toggle="tab" href="#playlogs"
               role="tab" aria-controls="playlogs" aria-selected="false">Playlogs</a>
        </li>

    </ul>


    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade active show" id="players" role="tabpanel" aria-labelledby="players-tab">
            <!-- players content -->
            {% if conta.players.all %}
            <div class="d-flex bd-highlight">
                <div class="mt-2 mr-auto p-2 bd-highlight">
                    <p class="lead">{{ conta.players.all|length }} Players</p>
                </div>
                <div class="p-2 bd-highlight">
                    <a href="{% url 'manager:update_players' conta.slug %}">
                        <button type="button" class="btn btn-secondary btn-sm">
                            <i class="bi bi-arrow-clockwise"></i> Atualizar Players
                        </button>
                    </a>
                </div>
            </div>
            <table class="table table-hover table-bordered table-sm">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Player</th>
                    <th scope="col">Playlist</th>
                    <th scope="col">Plataforma</th>
                    <th scope="col">Último Contato</th>
                    <th scope="col">Grupo</th>
                    <!--<th scope="col">Status</th>-->
                    <th scope="col">Último Log</th>
                </tr>
                </thead>
                {% for player in conta.players.all %}
                <tbody>
                <tr>
                    <td>{{ player }}</td>
                    <td>{{ player.playlist }}</td>
                    <td>{{ player.platform }}</td>
                    <td>{{ player.lastContactInMinutes|date_from_minute|default_if_none:'' }}</td>
                    <td>{{ player.group_id }} - {{ player.group_name }}</td>
                    <!--<td>{{ player.status_id }} - {{ player.status_name }}</td>-->
                    <td>{{ player.lastLogReceived|date:"j M Y H:i"|default_if_none:'' }}</td>
                </tr>
                </tbody>
                {% endfor %} <!-- conta.players.all -->
            </table>
            {% else %}
            <div class="text-center">
                <p class="mt-5 mb-5 lead">Não há players registrados.</p>
            </div>
            {% endif %}
        </div>
        <div class="tab-pane fade" id="playlists" role="tabpanel" aria-labelledby="playlists-tab">
            <!-- playlists content -->
            {% if conta.playlists.all %}
            <div class="d-flex bd-highlight">
                <div class="mt-2 mr-auto p-2 bd-highlight">
                    <p class="lead">{{ conta.playlists.all|length }} Playlists</p>
                </div>
                <div class="p-2 bd-highlight">
                    <a href="{% url 'manager:update_playlists' conta.slug %}">
                        <button type="button" class="btn btn-secondary btn-sm">
                            <i class="bi bi-arrow-clockwise"></i> Atualizar Playlists
                        </button>
                    </a>
                </div>
            </div>
            <table class="table table-hover table-bordered table-sm">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Playlist</th>
                    <th scope="col">isSubPlaylist</th>
                </tr>
                </thead>
                {% for playlist in conta.playlists.all %}
                <tbody>
                <tr>
                    <td>{{ playlist }}</td>
                    <td>{{ playlist.isSubPlaylist }}</td>
                </tr>
                </tbody>
                {% endfor %} <!-- conta.playlist.all -->
            </table>
            {% else %}

            <div class="text-center">
                <p class="mt-5 mb-5 lead">Não há playlists registrados.</p>
            </div>
            {% endif %}
        </div>
        <div class="tab-pane fade" id="categories" role="tabpanel" aria-labelledby="categories-tab">
            <!-- categories content -->
            {% if conta.categories.all %}
            <div class="d-flex bd-highlight">
                <div class="mt-2 mr-auto p-2 bd-highlight">
                    <p class="lead">{{ conta.categories.all|length }} Categorias</p>
                </div>
                <div class="p-2 bd-highlight">
                    <a href="{% url 'manager:update_categories' conta.slug %}">
                        <button type="button" class="btn btn-secondary btn-sm">
                            <i class="bi bi-arrow-clockwise"></i> Atualizar Categorias
                        </button>
                    </a>
                </div>
            </div>
            <table class="table table-hover table-bordered table-sm">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Categoria</th>
                    <th scope="col">Conteúdos</th>
                    <th scope="col">Descrição</th>
                </tr>
                </thead>
                {% for categoria in conta.categories.all %}
                <tbody>
                <tr>
                    <td>{{ categoria }}</td>
                    <td>
                        {% for media in categoria.medias.all %}
                        {{ media.name }},
                        {% endfor %}
                    </td>
                    <td>{{ categoria.description }}</td>
                </tr>
                </tbody>
                {% endfor %} <!-- conta.categories.all -->
            </table>
            {% else %}
            <div class="text-center">
                <p class="mt-5 mb-5 lead">Não há categorias registrados.</p>
            </div>
            {% endif %}
        </div>
        <div class="tab-pane fade" id="medias" role="tabpanel" aria-labelledby="medias-tab">
            <!-- medias content -->
            {% if conta.medias.all %}
            <div class="d-flex bd-highlight">
                <div class="mt-2 mr-auto p-2 bd-highlight">
                    <p class="lead">{{ conta.medias.all|length }} Conteúdos</p>
                </div>
                <div class="p-2 bd-highlight">
                    <a href="{% url 'manager:update_medias' conta.slug %}">
                        <button type="button" class="btn btn-secondary btn-sm">
                            <i class="bi bi-arrow-clockwise"></i> Atualizar Conteúdos
                        </button>
                    </a>
                </div>
            </div>
            <table class="table table-hover table-bordered table-sm">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Conteúdo</th>
                    <th scope="col">Arquivo</th>
                    <th scope="col">Duração</th>
                    <th scope="col">Agendamento</th>
                    <th scope="col">Categorias</th>
                </tr>
                </thead>
                {% for media in conta.medias.all %}
                <tbody>
                <tr>
                    <td>{{ media }}</td>
                    <td>{{ media.file }}</td>
                    <td>{{ media.durationInSeconds }}s</td>
                    <td>{{ media.startDate|date:"j M Y"|default_if_none:'' }} - {{ media.endDate|date:"j M Y"|default_if_none:'' }}</td>
                    <td>
                        {% for category in media.category.all %}
                        {{ category.name }},
                        {% endfor %}
                    </td>
                </tr>
                </tbody>
                {% endfor %} <!-- conta.media.all -->
            </table>
            {% else %}
            <div class="text-center">
                <p class="mt-5 mb-5 lead">Não há conteúdos registrados.</p>
            </div>
            {% endif %}
        </div>
        <div class="tab-pane fade" id="playlogs" role="tabpanel" aria-labelledby="playlogs-tab">
            <!-- playlogs content -->
            {% if conta.records.all %}
            <div class="d-flex bd-highlight">
                <div class="mt-2 mr-auto p-2 bd-highlight">
                    <p class="lead">{{ conta.records.all|length }} Playlogs</p>
                </div>
                <div class="p-2 bd-highlight">
                    <a href="{% url 'base:solicitar_relatorio' %}">
                        <button type="button" class="btn btn-secondary btn-sm">
                            <i class="bi bi-arrow-clockwise"></i> Solicitar Relatórios
                        </button>
                    </a>
                </div>
            </div>
            {% for records_by_day in conta.records.all|group_by_day %}
            <div class="accordion" id="accordionExample">
                <div class="card">

                    <a href="#!" {% if not forloop.first %}class="collapsed" {% endif %} data-toggle="collapse"
                       data-target="#collapse{{ forloop.counter|num_to_word|title }}" aria-expanded="true"
                       aria-controls="collapse{{ forloop.counter|num_to_word|title }}">
                        <div class="card-header" id="heading{{ forloop.counter|num_to_word|title }}">
                            <h6 class="mb-0">{{ records_by_day|length }} Playlogs, {{ records_by_day.0.date|date:"d M Y" }}</h6>
                        </div>
                    </a>
                    <div id="collapse{{ forloop.counter|num_to_word|title }}"
                         class="card-body collapse {% if forloop.first %}show{% endif %}"
                         aria-labelledby="heading{{ forloop.counter|num_to_word|title }}"
                         data-parent="#accordionExample">
                        <table class="table table-hover table-bordered table-sm">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Time</th>
                                <th scope="col">Player</th>
                                <th scope="col">Media</th>
                                <th scope="col">Type</th>
                                <th scope="col">Conta</th>
                            </tr>
                            </thead>
                            {% for record_of_day in records_by_day %}
                            <tbody>
                            <tr>
                                <td>{{ record_of_day.date|date:"d-m-Y" }}</td>
                                <td>{{ record_of_day.time|time:"h:i:s a" }}</td>
                                <td>{{ record_of_day.player_id|player_full_name:conta }}</td>
                                <td>{{ record_of_day.media_id|media_full_name:conta }}</td>
                                <td>{{ record_of_day.media_type }}</td>
                                <td>{{ record_of_day.nickname }}</td>
                            </tr>
                            </tbody>
                            {% endfor %} <!-- endfor record_of_day -->
                        </table>
                    </div>
                </div>
            </div>
            {% endfor %} <!-- endfor records_by_day -->
            {% else %}
            <div class="text-center">
                <p class="mt-5 mb-0 lead">Não há playlogs.</p>
                <a href="{% url 'base:solicitar_relatorio' %}"><p class="mb-5 lead h6"><small>Solicitar
                    Relatório</small></p></a>
            </div>
            {% endif %}
        </div>
    </div>

    <hr class="mt-2">
    <div class="d-flex justify-content-around">
        <a href="{% url 'manager:update_players' conta.slug %}">
            <button type="button" class="btn btn-success btn-sm"><i class="bi bi-arrow-clockwise"></i> Atualizar Players
            </button>
        </a>
        <a href="{% url 'manager:update_playlists' conta.slug %}">
            <button type="button" class="btn btn-success btn-sm"><i class="bi bi-arrow-clockwise"></i> Atualizar
                Playlists
            </button>
        </a>
        <a href="{% url 'manager:update_medias' conta.slug %}">
            <button type="button" class="btn btn-success btn-sm"><i class="bi bi-arrow-clockwise"></i> Atualizar
                Conteúdos
            </button>
        </a>
        <a href="{% url 'manager:update_categories' conta.slug %}">
            <button type="button" class="btn btn-success btn-sm"><i class="bi bi-arrow-clockwise"></i> Atualizar
                Categorias
            </button>
        </a>
    </div>

</div>
{% endblock content %}