<div class="row bg-dark">
    <div class="col-md-12">
        <nav class="container navbar navbar-expand-lg navbar-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="{% url 'manager:home' %}">WebHook<strong>4YouSee</strong></a>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="navbar-nav ml-md-auto">
                    {% comment %}
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Texto ao lado do Dropdown<span class="sr-only"></span></a>
                    </li>
                    {% endcomment %}
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown">
                            {{ user.first_name|title }}</a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'manager:home' %}"><i class="fas fa-user-plus"></i>Contas</a>
                            <div class="dropdown-divider">
                            </div>
                            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                            {% else %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ login_url }}">Login<span class="sr-only"></span></a>
                    </li>
                    {% endif %}
            </div>
            </li>
            </ul>
    </div>
    </nav>
</div>
</div>