{% extends 'base/base.html' %}
{% load i18n static %}

{% block title %}{% translate 'Confirm password' %}{% endblock %}

{% block content %}
<main class="d-flex justify-content-center mt-5 mb-3 text-center">
    {% if validlink %}
    <div class="p-5 border rounded w-25">
        <h1 class="h3 mb-4">WebHook<strong>4YouSee</strong></h1>
        <p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

        <form method="post">{% csrf_token %}
            <fieldset class="module aligned">
                <div class="input-group mb-3" for="id_new_password1">
                    {{ form.new_password1.errors }}
                    <input type="password" class="form-control" name="{{ form.new_password1.name }}"
                           autocomplete="new-password"
                           required="" id="id_new_password1" aria-autocomplete="list"
                           placeholder="{% translate 'New password' %}">
                    <div class="input-group-append">
                        <i class="input-group-text bi bi-eye" style="cursor: pointer;" id="togglePassword_1"></i>
                    </div>
                </div>
                <div class="input-group mb-3" for="field-password2">
                    {{ form.new_password2.errors }}
                    <input type="password" class="form-control" name="{{ form.new_password2.name }}" autocomplete="new-password"
                           required="" id="id_new_password2" aria-autocomplete="list"
                           placeholder="{% translate 'Confirm password' %}">
                    <div class="input-group-append">
                        <i class="input-group-text bi bi-eye" style="cursor: pointer;" id="togglePassword_2"></i>
                    </div>
                    <input class="mt-4 w-100 btn btn-sm btn-primary" type="submit" value="{% translate 'Change my password' %}">
            </fieldset>
        </form>
    </div>
    {% else %}

    <p>{% translate "The password reset link was invalid, possibly because it has already been used. Please request a
        new password reset." %}</p>

    {% endif %}


    <script type="text/javascript">
        // How to Toggle First Password Visibility
        const togglePassword_1 = document.querySelector('#togglePassword_1');
        const password_1 = document.querySelector('#id_new_password1');
        console.log(togglePassword_1)
        console.log(password_1)
        togglePassword_1.addEventListener('click', function (e) {
        // toggle the type attribute
        const type_1 = password_1.getAttribute('type') === 'password' ? 'text' : 'password';
        password_1.setAttribute('type', type_1);
        // toggle the eye / eye slash icon
        this.classList.toggle('bi-eye-slash');
        });

        // How to Toggle First Password Visibility
        const togglePassword_2 = document.querySelector('#togglePassword_2');
        const password_2 = document.querySelector('#id_new_password2');
        console.log(togglePassword_2)
        console.log(password_2)
        togglePassword_2.addEventListener('click', function (e) {
        // toggle the type attribute
        const type_2 = password_2.getAttribute('type') === 'password' ? 'text' : 'password';
        password_2.setAttribute('type', type_2);
        // toggle the eye / eye slash icon
        this.classList.toggle('bi-eye-slash');
        });



    </script>

    {% endblock content %}
