{% extends 'base/base.html' %}
{% load i18n static %}

{% block title %}E-mail Enviado{% endblock %}
{% block content %}
<main class="d-flex justify-content-center mt-5 mb-3 text-center">
    <div class="p-5 border rounded w-50">
        <h1 class="h3 mb-4">WebHook<strong>4YouSee</strong></h1>
        <p>{% trans 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</p>
        <p>{% trans 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</p>
    </div>
    </div>
</main>
{% endblock %}
