{% extends 'base/base.html' %}
{% load i18n static %}

{% block title %}{% translate 'Complete Reset Password' %}{% endblock %}

{% block content %}

<main class="d-flex justify-content-center mt-5 mb-3 text-center">
    <div class="p-5 border rounded w-25">
        <h1 class="h3 mb-4">WebHook<strong>4YouSee</strong></h1>
        <p>{% translate "Your password has been set. You may go ahead and log in now." %}</p>

        <p><a href="{{ login_url }}">{% translate 'Log in' %}</a></p>
    </div>
</main>

{% endblock content %}